html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: Karla, Arial, Helvetica, sans-serif;
}

:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--Light-Gray);
}

main {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  max-width: 36rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 1rem 1rem hsla(179, 62%, 43%, 0.2);
  overflow: hidden;
}
main header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  gap: 1rem;
  padding: 3rem 2rem;
}
main header h1 {
  font-size: 1.8rem;
  color: var(--Cyan);
  letter-spacing: 0.015rem;
  margin-bottom: 1rem;
}
main header h2 {
  font-size: 1.2rem;
  color: var(--Bright-Yellow);
  margin-bottom: 1rem;
}
main header p {
  font-size: 0.925rem;
  color: var(--Grayish-Blue);
}
main section.col1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 2rem;
  background-color: var(--Cyan);
}
main section.col1 h2 {
  font-size: 1.2rem;
  color: var(--Light-Gray);
  margin-bottom: 1rem;
}
main section.col1 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
main section.col1 div h3 {
  font-size: 2rem;
  color: var(--Light-Gray);
}
main section.col1 div p {
  color: hsla(204, 43%, 93%, 0.6);
  margin: 0;
}
main section.col1 p {
  font-size: 0.925rem;
  color: var(--Light-Gray);
  margin-bottom: 2.5rem;
}
main section.col1 button {
  background-color: var(--Bright-Yellow);
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0;
  text-align: center;
  box-shadow: 0 0.5rem 0.5rem hsla(179, 62%, 20%, 0.2);
  transition: 0.4s;
}
main section.col1 button:hover {
  background-color: white;
  color: var(--Bright-Yellow);
}
main section.col2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 2rem;
  background-color: hsl(179, 62%, 50%);
}
main section.col2 h2 {
  font-size: 1.2rem;
  color: var(--Light-Gray);
  margin: 1rem 0;
}
main section.col2 ul {
  text-decoration: none;
}
main section.col2 ul li {
  text-decoration: none;
  font-size: 0.925rem;
  color: hsla(204, 43%, 93%, 0.8);
  margin-bottom: 0.25rem;
}

@media (max-width: 478px) {
  body {
    padding: 3rem 2rem;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  main header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  main section.col1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  main section.col2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}/*# sourceMappingURL=styles.css.map */